!!!
html
  head(xmlns:fb="http://www.facebook.com/2008/fbml")
    title= 'sayhs23lhs'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui.css', media='print, projection, screen')
    link(rel='stylesheet', href='/stylesheets/css/ui-lightness/jquery-ui-1.8.18.custom.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.0.min.js')
    script(type='text/javascript', src ='/javascripts/jquery.layout-1.2.0.js')
    script(type='text/javascript', src ='/javascripts/jquery.innerfade.js')
    script(type='text/javascript', src ='/javascripts/jquery.fancybox-1.3.4.js')
    script(type='text/javascript', src ='/javascripts/jquery-ui-1.8.18.custom.min.js')
    script(type='text/javascript', src ='/javascripts/jquery-ui-1.8.18.custom.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src ='/javascripts/jquery.approach.js')
    script(type='text/javascript', src='http://chancein.com/Demo/Jquery/Tabs/jquery-1.2.3.pack.js')
    script(type='text/javascript', src ='http://chancein.com/Demo/Jquery/Tabs/ui.tabs.pack.js')
    script(type='text/javascript', src='http://connect.facebook.net/en_US/all.js')
    script(type='text/javascript', src ='http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js')
    script(type='text/javascript', src = 'http://www.google.com/jsapi')
    script(type='text/javascript', src ='/javascripts/facebook.js')
    script(type='text/javascript', src ='/javascripts/prototype.js')
    script(type='text/javascript', src='/javascripts/gfeedfetcher.js')

  body!= body